body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

#sidebar {
    background-color: teal;
    color: white;
    width: 17%;
    height: 100vh;
    padding: 20px;
    position: fixed; 
}

#sidebar img {
    padding-top: 30px;
    width: 170px;
    height: 160px;
    border-radius: 50%;
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
}

#sidebar ul li {
    padding: 10px 0;
}

/* Contenuto principale HOME*/

#main {
    width: 80%;
    padding: 20px;
    margin-left: 17%;
    margin-top: 8%;
}

#main h1 {
    margin-top: 0;
}

#main p {
    line-height: 1.6;
}

.teal {
    color: teal;
}

.teal-bg {
    color: white;
    background-color: teal;
}

.title {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xxx-large;
}

.sub-title {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xxx-large;
}

.main-desc {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
    text-align: justify;
}

/*Sezione ABOUT*/

#about {
    padding-top: 200px;
}

.table-font {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*Sezione PROJECTS*/

#projects {
    padding-top: 50px;
}

/*Sezione SKILLS*/

#skills {
    padding-top: 50px;
}

